:root{
  --baseColor:#00F218;
  --grayColor:#DCD5D5;
}
@font-face {
  font-family: iran;
  src: url(./fonts/IRANSansX-Regular.woff),url(./fonts/IRANSansX-Bold.woff);
}
body{
  font-family: iran !important;
  direction: rtl;
}
a{
  text-decoration: none !important;

}
.form-login-log{
  width:350px;
  
}
.border-gray{
  border: 1px solid var(--grayColor) !important;
}
.border{
  border:1px var(--grayColor);
  color:var(--grayColor);
  border-radius: 0px !important;
}
.btn-base{
  background-color: var(--baseColor) !important;
  color:white !important;
}
.w-200
{
  width: 200px;
}
.center-box
{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.btn-active
{
  background-color: var(--baseColor);
  color: white !important;
}
.w-50
{
  width: 50%;
}
.mar-y-4
{
  margin-top: -5px;
    margin-bottom: -5px;
}
.h-34
{
  height:34px;
}
.border-radius-0
{
  border-radius: 0px !important ;
}
.text-item-center
{
  display: flex;
    justify-content: center;
    align-items: center;
}
.color-gray
{
  color: var(--grayColor) !important;
}
.color-white
{
  color: white;
}
